OPENAI_API_KEY=your_openai_api_key

MONGO_URI=mongodb://localhost:27017

DB_NAME=your_database

COLLECTION_NAME=properties

PINECONE_API_KEY=your_pinecone_api_key

PINECONE_INDEX_NAME=estate-mind-ai

PINECONE_CLOUD=aws

PINECONE_REGION=us-east-1